
@{
    Layout = null;
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="title">
                    Pentru cumpărători
                </div>
                <ul>
                    <li><a href="#">Livrare și returnare</a></li>
                    <li><a href="#">Informație</a></li>
                    <li><a href="#">Oferta publică</a></li>
                    <li><a href="#">Politica de confidențialitate</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="title">
                    Despre CosmeticaShop
                </div>
                <ul>
                    <li><a href="#">Despre noi</a></li>
                    <li><a href="#">Contacte</a></li>
                    <li><a href="#">Vânzări angro</a></li>
                    <li><a href="#">Rechizite</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="title">
                    Contacte
                </div>
                <ul>
                    <li>000-000-000-000</li>
                    <li>Luni - vineri: 08:00 - 20:00</li>
                    <li>Weekend: 10:00 - 18:00</li>
                </ul>
            </div>

            <div class="col-md-3" align="center">
                <i class="icon-facebook"></i>
                <i class="icon-instagram"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 white-footer">
                <div class="pull-left">
                    Copyright ©  2017 CosmeticaShop
                </div>
                <div class="pull-right">
                    Creat de <i class="icon-logo-dois"></i>
                </div>
            </div>
        </div>

    </div>
</footer>
