
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12 white-container marginB-heigth-10">
        <div class="default-text navigation">
            <a href="@Url.Action("Index","Home")"> Principală </a> >  <span class="pink-darkk-text">Favorite</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 white-container">
        <div class="row">
            <div class="block empty-favorit" align="center">
                <i class="icon-very-big-pink-like"></i> <span>Nu ai adăugat nimic în favorite!</span>
            </div>

            @*<div class="block" style="padding:2px;">
                <div class="title-block" style="padding: 5px 10px 15px 10px;">
                    Favorite: <span>4</span>
                </div>
                <div class="content">
                    <div class="row product-list">
                        <div class="col-md-3">
                            <div class="item">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="~/assets/img/Temp/product3.png" />
                                        <div class="discount">reducere -35%</div>
                                    </div>
                                    <div class="product-description title">
                                        <span class="pink-text">
                                            elf cosmetics
                                        </span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-text">illuminating eye cream</span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-price crossOut-pink ">150 lei</span>
                                        <div>
                                            <span class="pink-price">99 lei</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="pull-left">
                                        <i class="icon-pink-like "></i>
                                    </div>
                                    <div class="pull-right">
                                        <span>iau!</span> <i class="icon-product-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="~/assets/img/Temp/product.png" />
                                    </div>
                                    <div class="product-description title">
                                        <span class="pink-text">
                                            jean destrees
                                        </span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-text">cc cream</span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-price">150 lei</span>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="pull-left">
                                        <i class="icon-pink-like"></i>
                                    </div>
                                    <div class="pull-right">
                                        <span>iau!</span> <i class="icon-product-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="~/assets/img/Temp/product2.png" />
                                    </div>
                                    <div class="product-description title">
                                        <span class="pink-text">
                                            christina
                                            cosmetics
                                        </span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-text">
                                            BIO PHYTO
                                            ANTI ROUGEURS MASK
                                        </span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-price">150 lei</span>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="pull-left">
                                        <i class="icon-pink-like"></i>
                                    </div>
                                    <div class="pull-right">
                                        <span>iau!</span> <i class="icon-product-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="item">
                                <div class="product-content">
                                    <div class="product-img">
                                        <img src="~/assets/img/Temp/product3.png" />
                                    </div>
                                    <div class="product-description title">
                                        <span class="pink-text">
                                            elf cosmetics
                                        </span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-text">illuminating eye cream</span>
                                    </div>
                                    <div class="product-description">
                                        <span class="grey-price">150 lei</span>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="pull-left">
                                        <i class="icon-pink-like"></i>
                                    </div>
                                    <div class="pull-right">
                                        <span>iau!</span> <i class="icon-product-cart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>*@

        </div>
    </div>

</div>

<div class="row">
    <section>
        <div class="section-name small">Recomandări pentru tine</div>
        <div class="row product-list">
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                            <div class="discount">reducere -35%</div>
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price crossOut-pink ">150 lei</span>
                            <div>
                                <span class="pink-price">99 lei</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                jean destrees
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">cc cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product2.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                christina
                                cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">
                                BIO PHYTO
                                ANTI ROUGEURS MASK
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="~/assets/img/Temp/product3.png" />
                        </div>
                        <div class="product-description title">
                            <span class="pink-text">
                                elf cosmetics
                            </span>
                        </div>
                        <div class="product-description">
                            <span class="grey-text">illuminating eye cream</span>
                        </div>
                        <div class="product-description">
                            <span class="grey-price">150 lei</span>
                        </div>
                    </div>
                    <div class="product-footer">
                        <div class="pull-left">
                            <i class="icon-like"></i>
                        </div>
                        <div class="pull-right">
                            <span>iau!</span> <i class="icon-product-cart"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>