@font-face {
    font-family: 'FuturaPTBook';
    src: url('../../fonts/FuturaPTBook.otf') format('opentype');
}
@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../../fonts/FuturaPTDemi.otf') format('opentype');
}
@font-face {
    font-family: 'FuturaPTLight';
    src: url('../../fonts/FuturaPTLight.otf') format('opentype');
}
@font-face {
    font-family: 'FuturaPTMedium';
    src: url('../../fonts/FuturaPTMedium.otf') format('opentype');
}
@font-face {
    font-family: 'TheBraggest_Demo';
    src: url('../../fonts/The Braggest_Demo.otf') format('opentype');
}
