body {
    background-image: url('/assets/img/Backgound.jpg');
}

a:visited {
    color: none; /* Цвет посещенных ссылок */
}

a:focus {
    color: #636363 !important;
    outline: none;
    text-decoration: none;
}

a:active {
    color: none; /* Цвет активных ссылок */
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.p-error {
    font-family: FuturaPTBook;
    color: red;
}

.marginB-heigth-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.pt-30 {
    padding-top: 30px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.padding-0 {
    padding: 0;
}

.col-md-9-content {
    width: 74%;
    margin-left: 1%;
}

.default-text {
    color: #636363;
    font-family: FuturaPTBook;
    font-size: 16px;
}

    .default-text.navigation a {
        color: #636363;
    }

.margin-bottom-10 {
    margin-bottom: 10px;
}

.pink-darkk-text {
    color: #ff669e;
    font-family: FuturaPTBook;
    font-size: 16px;
}
/* Иконки */
.icon-big-like {
    display: inline-block;
    cursor: pointer;
    width: 37px;
    height: 34px;
    background-image: url('/assets/img/icons/big-like.png');
    background-repeat: no-repeat;
}

.icon-cart {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 36px;
    background-image: url('/assets/img/icons/cart.png');
    background-repeat: no-repeat;
}

.icon-facebook {
    display: inline-block;
    cursor: pointer;
    width: 31px;
    height: 32px;
    background-image: url('/assets/img/icons/facebook.png');
    background-repeat: no-repeat;
}

.icon-instagram {
    display: inline-block;
    cursor: pointer;
    width: 31px;
    height: 32px;
    background-image: url('/assets/img/icons/instagram.png');
    background-repeat: no-repeat;
}

.icon-logo-dois {
    display: inline-block;
    cursor: pointer;
    width: 47px;
    height: 15px;
    background-image: url('/assets/img/icons/logo-dois.png');
    background-repeat: no-repeat;
}

.icon-logo-dois:hover {
    transition: 0.3s linear 0.2s;
    background-image: url('/assets/img/icons/logo-dois-hover.png');
}

.icon-product-cart {
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 21px;
    background-image: url('/assets/img/icons/product-cart.png');
    background-repeat: no-repeat;
}

.icon-like {
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 21px;
    background-image: url('/assets/img/icons/like.png');
    background-repeat: no-repeat;
}

.icon-pink-like {
    display: inline-block;
    cursor: pointer;
    width: 23px;
    height: 21px;
    background-image: url('/assets/img/icons/pink-like.png');
    background-repeat: no-repeat;
}

.icon-very-big-pink-like {
    display: inline-block;
    cursor: pointer;
    width: 110px;
    height: 101px;
    background-image: url('/assets/img/icons/very-big-pink-like.png');
    background-repeat: no-repeat;
}

.icon-arrow-left-mini {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/icons/arrow-left-mini.png');
    background-repeat: no-repeat;
}

.icon-arrow-right-mini {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/icons/arrow-right-mini.png');
    background-repeat: no-repeat;
}

.icon-back {
    display: inline-block;
    cursor: pointer;
    width: 22px;
    height: 19px;
    background-image: url('/assets/img/icons/back.png');
    background-repeat: no-repeat;
}

.icon-medal {
    display: inline-block;
    cursor: pointer;
    width: 46px;
    height: 60px;
    background-image: url('/assets/img/icons/medal.png');
    background-repeat: no-repeat;
}

.icon-free-delivery {
    display: inline-block;
    cursor: pointer;
    width: 65px;
    height: 56px;
    background-image: url('../img/icons/free-delivery.png');
    background-repeat: no-repeat;
}

/* Конец иконок */


/* Шапка */

@media (max-width: 1000px) {
    .head .item {
        display: inline-flex;
    }
}

.header-menu {
    top: unset;
    position: relative;
    background-color: #fda6c5;
    height: 35px;
    text-align: center;
    min-height: 30px;
    border: none;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.08);
}

    .header-menu .menu {
        padding-left: 12%;
    }

    .header-menu a.hight-menu {
        color: #636363 !important;
        font-size: 18px;
        font-family: FuturaPTBook;
        margin-top: -27px;
        cursor: pointer;
    }

        .header-menu a.hight-menu:focus {
            color: #636363 !important;
            background-color: transparent !important;
        }

.head {
    /*height: 100px;*/
    padding: 35px 0;
}

    .head i {
        margin: 0px 10px -20px 10px;
        position: relative;
        top: -10px;
    }

.head-number span {
    font-size: 18px;
    color: #ff73ab;
    font-family: FuturaPTDemi;
}

.head-title {
    font-family: "TheBraggest_Demo";
    font-size: 60px;
    color: #959393;
    cursor: default;
    position: relative;
    top: -35px;
}

.head-title-pink {
    font-family: FuturaPTDemi;
    font-size: 31px;
    color: #ff73ab;
    cursor: default;
    position: relative;
    padding-bottom: 40px;
    top: -15px;
    display: block;
}

.head-title a {
    color: #959393 !important;
    text-decoration: none;
}

.head-title-pink a, .head-title-pink a:active, .head-title-pink a:focus {
    color: #ff73ab !important;
    text-decoration: none;
}

.head-title a:active, head-title a:focus {
    color: #959393 !important;
}

.head-auth, .head-auth a {
    cursor: default;
    display: inline-block;
    font-size: 16px;
    color: #fda6c5 !important;
    font-family: FuturaPTBook;
}

    .head-auth span, .head-auth a {
        cursor: pointer;
    }

.menu-search {
    /*padding-top: 6px;
    margin-top: -20px;*/
}

    .menu-search input {
        opacity: 0.7;
        border: none;
        border-radius: 15px;
        color: #aaa9a9;
        text-align: center;
        margin-top: 8px;
    }

        .menu-search input:focus {
            outline: none;
        }
/* Конец шапки */

/* Футер */
@media (max-width: 1000px) {
    footer .row, footer .white-footer {
        /*display: inline-flex;*/
    }
}

footer {
    padding-top: 10px;
    /*height: 215px;*/
    background-color: #ffaecb;
    width: 100%;
}

    footer .title {
        font-family: FuturaPTMedium;
        font-size: 18px;
        color: #636363;
        margin-bottom: 15px;
    }

    footer ul {
        list-style: none;
        padding: 0px;
    }

        footer ul li {
            font-family: FuturaPTBook;
            font-size: 16px;
            color: #636363;
            margin: 10px 0;
        }

            footer ul li a {
                color: #636363;
            }

                footer ul li a:hover {
                    text-decoration: none;
                    color: #636363;
                }

    footer .white-footer {
        margin-top: 15px;
        color: #ffffff;
        font-family: FuturaPTBook;
        font-size: 14px;
    }
/* Конец футера */



.section-name {
    height: 40px;
    background-color: #feabc9;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-family: FuturaPTMedium;
    margin: 30px 0;
    text-align: center;
    padding-top: 5px;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.08);
    text-transform: uppercase;
}

    .section-name.small {
        font-size: 18px;
        font-family: FuturaPTDemi;
        text-transform: none;
    }

.brand-list, .product-list {
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

    .brand-list .item {
        height: 280px;
        border: 1px solid #ddd3d8;
        margin: 5px 3px;
        padding: 0 3px;
        width: calc(100% - 6px);
        background-color: #fff;
        display: table;
    }

        .brand-list .item .brand-img {
            display: table-cell;
            vertical-align: middle;
        }

        .brand-list .item img {
            width: 100%;
        }

    .brand-list .col-md-3, .product-list .col-md-3 {
        padding: 0px;
        margin-bottom: 10px;
    }

    .product-list .item {
        /*height: 390px;*/
        border: 1px solid #ddd3d8;
        /*margin: 0px 3px 10px 3px;*/
        padding: 0 3px;
        width: calc(100% - 6px);
        background-color: #fff;
        text-align: center;
        position: relative;
        min-height: 100%;
    }

.item .product-content {
    padding-bottom: 30%;
}

.item a.product-content {
    display: block;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.product-content .product-description {
    padding: 0px 11%;
    /*height: 47px;*/
}

    .product-content .product-description.title {
        padding: 0 26%;
    }

.item .product-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 35px;*/
    color: #636363;
    font-family: FuturaPTMedium;
    font-size: 20px;
    padding: 0 15px;
}

.product-list .col-md-4 {
    padding: 0px;
    margin-bottom: 10px;
}

.product-list .item .product-img {
    /*margin: 10px 0;*/
}

.product-img img {
    max-width: 100%;
}

.product-list .item .pink-text {
    font-size: 18px;
    color: #ffaecb;
    font-family: FuturaPTMedium;
}

.product-list .item .grey-text {
    font-size: 18px;
    color: #636363;
    font-family: FuturaPTBook;
    text-transform: uppercase;
}

.product-list .item .grey-price {
    font-size: 18px;
    color: #636363;
    font-family: FuturaPTBook;
}

.product-list .item .pink-price {
    font-size: 20px;
    color: #ff669e;
    font-family: FuturaPTMedium;
}

.crossOut-pink {
    position: relative;
    font-size: 40px;
}

    .crossOut-pink:before {
        border-bottom: 2px solid #ff669e;
        position: absolute;
        content: "";
        width: 110%;
        left: -2px;
        height: 50%;
        transform: rotate(-15deg);
    }

.product-list .discount {
    position: absolute;
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    top: 130px;
    right: 10px;
    border: 3px solid white;
    background: #ffaecb;
    color: #fff;
    font-size: 18px;
    font-family: FuturaPTMedium;
    padding-top: 12px;
}

.text-description {
    font-size: 16px;
    font-family: FuturaPTBook;
    color: #636363;
    /*text-align: center;*/
    margin: 150px 0;
}

.max-width img {
    max-width: 100% !important;
}

@media (max-width: 420px) {
    .col-xs-6 {
        width: 100%;
    }
}

/* Слик слайдер */
.main-slider {
    padding: 0 50px;
}

.item-slider {
    height: 250px !important;
    background-color: transparent;
    margin: 0 5px;
}

    .item-slider img {
        width: 100%;
        height: 100%;
    }

.slick-prev, .slick-next {
}

.slick-prev-pink {
    display: block;
    cursor: pointer;
    position: relative;
    width: 40px !important;
    top: 150px;
    left: -55px;
    height: 40px !important;
    border: none;
    background-image: url(/assets/img/arrow-left.png);
    background-repeat: no-repeat;
}

.slick-next-pink {
    cursor: pointer;
    float: right;
    position: relative;
    width: 40px !important;
    top: -150px;
    left: 55px;
    height: 40px !important;
    border: none;
    background-image: url(/assets/img/arrow-right.png);
    background-repeat: no-repeat;
}
/* Конец слика слайдер */

/*Выпадающий список*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent !important;
    color: black !important;
}

.dropdown-large {
    position: relative !important;
    margin: 0px 15px;
}

.dropdown-menu-large {
    /*margin-left: 16px;*/
    /*margin-right: 16px;*/
    padding: 15px 10px 10px;
    /*left: 5%;*/
    /*top: 10px;*/
    text-align: left;
    width: 320px;
    border: none;
}

    .dropdown-menu-large::after {
        content: '';
        position: absolute;
        left: 55px;
        top: -10px;
        border: 5px solid transparent;
        border-bottom: 7px solid #fff;
    }

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }


        .dropdown-menu-large > li > ul > li {
            list-style: none;
            display: inline-block;
            width: 48%;
        }

            .dropdown-menu-large > li > ul > li > a {
                display: block;
                padding: 3px 10px 3px 20px;
                clear: both;
                line-height: 1.428571429;
                white-space: normal;
                font-family: FuturaPTLight;
                font-size: 16px;
                color: #636363;
            }

    .dropdown-menu-large > li ul > li > a:hover,
    .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .dropdown-menu-large .disabled > a,
    .dropdown-menu-large .disabled > a:hover,
    .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu-large .disabled > a:hover,
        .dropdown-menu-large .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .dropdown-menu-large .dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }

        .dropdown-menu-large > li {
            margin-bottom: 30px;
        }


            .dropdown-menu-large > li:last-child {
                margin-bottom: 0;
            }

        .dropdown-menu-large .dropdown-header {
            padding: 3px 15px !important;
        }
}

.dropdown-menu li.second-cat a {
    color: #ff669e;
    font-weight: bold;
}

.dropdown-menu li.second-cat a:hover {
    color: #ff669e;
}

/*Конец выпадающего списка*/

/*Модальные окна*/
.pink-modal {
    width: 345px;
    color: #636363;
}

    .pink-modal.success {
        width: 420px;
    }

        .pink-modal.success.cart {
            width: 470px;
        }

        .pink-modal.success a {
            color: #e879a1;
            cursor: pointer;
        }

    .pink-modal .close {
        position: absolute;
        top: -15px;
        width: 40px;
        height: 40px;
        right: -18px;
        background-color: #ffacca;
        opacity: 1;
        border-radius: 20px;
        border: 3px solid #fff;
        color: #fff;
    }

        .pink-modal .close:focus, pink-modal .close:active {
            outline: none;
        }

    .pink-modal .modal-content {
        box-shadow: none;
        border: 3px solid #ffaecb;
    }

        .pink-modal .modal-content .modal-header {
            text-align: center;
            font-size: 18px;
            font-family: FuturaPTDemi;
            border: none;
            text-transform: uppercase;
            padding: 10px;
        }

        .pink-modal .modal-content .modal-body {
            border: none;
            padding: 10px 30px;
        }

    .pink-modal.success.cart .modal-content .modal-body {
        text-align: center;
    }

    .pink-modal .modal-content .modal-body label {
        font-weight: normal;
        font-size: 16px;
        font-family: FuturaPTBook;
    }

    .pink-modal .modal-content .modal-body input, .pink-modal .modal-content .modal-body select, .block-info-product input {
        box-shadow: none;
        border: 1px solid #d8d8d8;
    }

    .pink-modal .modal-content .modal-body select {
        border-radius: 7px;
        margin-bottom: 10px;
    }

    .pink-modal .modal-content .modal-body select {
        color: #636363;
        font-size: 16px;
        font-family: FuturaPTBook;
    }

        .pink-modal .modal-content .modal-body select:disabled {
            font-size: 16px;
            font-family: FuturaPTBook;
            color: #c1c1c1;
        }

        .pink-modal .modal-content .modal-body select.decorated option:hover {
            background-color: red;
        }

    .pink-modal .modal-content .modal-footer {
        border: none;
        padding: 5px 30px 30px 30px;
        margin: 0;
        text-align: center;
    }

        .pink-modal .modal-content .modal-footer span {
            cursor: pointer;
        }

        .pink-modal .modal-content .modal-footer div {
            margin: 15px 0;
        }
/*Конец модальных окон*/
.btn-pink {
    background-color: #ffaecb;
    border-radius: 0px;
    color: #fff;
    box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.08);
    font-size: 16px;
    font-family: FuturaPTBook;
    font-weight: normal;
    outline: none;
    border: none;
    padding: 5px 15px;
    min-width: 100px;
}

    .btn-pink:active {
        box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.15);
    }

.datepicker-birth .col-md-4 {
    padding: 0 5px;
}

.text-12 {
    font-size: 12px;
    font-family: FuturaPTBook;
    color: #636363;
}

.href-small, .href-small:hover {
    font-size: 12px;
    font-family: FuturaPTBook;
    color: #636363;
    text-decoration: underline;
}

.pink-text {
    font-size: 15px;
    color: #ffaecb;
    font-family: FuturaPTBook;
}

.white-container {
    background-color: #fff;
    border: 1px solid #d9cad3;
    padding: 5px 10px;
}

    .white-container.big {
        min-height: 550px;
        width: 74% !important;
        margin-left: 1%;
        margin-bottom: 50px;
    }

        .white-container.big.history {
            padding: 0;
        }

    .white-container .title {
        font-family: FuturaPTMeduim;
        font-size: 17px;
        color: #232323;
        font-weight: 600;
        padding: 15px;
    }

.block {
    padding: 15px;
    color: #232323;
    font-family: FuturaPTBook;
    font-size: 16px;
}

    .block .header {
        font-family: FuturaPTMeduim;
        font-size: 16px;
        color: #232323;
        padding: 10px 0;
    }

    .block .content {
        margin-bottom: 20px;
    }

        .block .content.grey {
            color: #636363;
        }

        .block .content ul {
            padding: 0;
        }

            .block .content ul li {
                margin: 10px 0;
            }

                .block .content ul li a.active {
                    font-family: FuturaPTDemi;
                }

ul.menu li span {
    cursor: pointer;
}

ul.menu li a {
    color: #636363;
}

.map {
    padding: 200px 0 10px 0;
    width: 100%;
}

ul.tabs li .title-tab {
    color: #232323;
    font-size: 17px;
    font-family: FuturaPTMedium;
    cursor: pointer;
}

    ul.tabs li .title-tab:before {
        content: '>';
        display: inline-block;
    }

ul.tabs li .content {
    display: none;
    padding: 15px 15px 15px 25px;
    margin-bottom: 0px !important;
}

/*Пагинация*/
.pagination {
    text-align: center;
}

    .pagination.product-list-pagination {
        margin: 70px 0 150px 0;
    }

    .pagination .content {
        display: inline-block;
        margin: 0 35px;
    }

        .pagination .content .num {
            display: table-cell;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-family: FuturaPTBook;
            width: 25px;
            height: 30px;
            background-color: #636363;
            vertical-align: middle;
            margin: 0 5px 0 0;
        }

            .pagination .content .num.active {
                background-color: #ffaecb;
            }

        .pagination .content .block-pagination {
            display: inline-block;
            margin: 0 5px;
        }

/*Конец пагинации*/


/*Чекбокс*/
.sidebar-filter input[type="checkbox"] {
    display: none;
}



    .sidebar-filter input[type="checkbox"] + label {
        font-family: FuturaPTBook;
        font-size: 16px;
        color: #636363;
        cursor: pointer;
        font-weight: normal;
    }

input[type="checkbox"] + label span {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px 0 0;
    background: url('/assets/img/checkbox.png') left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}


    input[type="checkbox"]:checked + label span {
        background-image: url('/assets/img/checkbox-select.png');
    }

ul.filter-categories .category-item a {
    color: #fda6c5;
    cursor: pointer;
}

ul.filter-categories .category-item a:before {
    content: "";
    position: relative;
    top: 3px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

ul.filter-categories .category-item a[aria-expanded="true"]:before {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.filter-categories .category-item a[aria-expanded="false"]:before {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*Конец чекбокса*/
.sidebar-filter {
    padding: 5px;
    padding-bottom: 125px;
}

    .sidebar-filter .content {
        padding: 5px 10px;
    }

    .sidebar-filter .title-filter {
        font-family: FuturaPTDemi;
        color: #636363;
    }

    .sidebar-filter li {
        margin-bottom: 15px;
    }

.block-description {
    margin: 50px 0;
    color: #636363;
    font-size: 18px;
    font-family: FuturaPTBook;
}

    .block-description .title-description {
        text-align: center;
        font-size: 16px;
        padding: 20px 0;
    }

.block-guarantee {
    margin-top: 30px;
    text-align: center;
}

    .block-guarantee div.item {
        display: inline-block;
        margin: 0 20px;
    }

        .block-guarantee div.item .pink-text {
            margin: 0 15px;
            width: 3px;
            position: relative;
            top: -20px;
        }

.block-info-product {
    padding-top: 35px;
    font-family: FuturaPTLight;
    font-size: 18px;
    color: #414141;
}

    .block-info-product .title-product {
        font-size: 18px;
        font-family: FuturaPTMedium;
        color: #414141;
        padding: 0px 0 5px 0;
    }

    .block-info-product .pink-text, .block-guarantee .pink-text {
        font-size: 16px;
        font-family: FuturaPTBook;
        color: #ff669e;
    }

.product-like {
    padding: 10px;
}

.product-container {
    padding-right: 90px;
}

input.review, input.review:focus {
    border: none;
    border-bottom: 1px solid #b1b1b1;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-family: FuturaPTBook;
    color: #636363;
}

.block-add-review {
    padding: 10px 15px 20px 15px;
}

.title-block {
    font-size: 18px;
    font-family: FuturaPTBook;
    color: #636363;
}

.block-add-review .title-block {
    padding-bottom: 10px;
}

.reviews-container {
    padding: 30px 10px 20px 10px;
    border-bottom: none;
}

    .reviews-container.last {
        border: 1px solid #d9cad3;
        padding-bottom: 100px;
    }

.reviews {
    margin: 10px 0 50px 0;
}

.reviews-container .item .user {
    text-align: center;
    font-size: 18px;
    color: #636363;
    font-family: FuturaPTBook;
}

    .reviews-container .item .user span {
        margin: 0 10px;
    }

.reviews-container .item .message {
    font-size: 18px;
    font-family: FuturaPTBook;
    color: #636363;
}

.reviews-container .item .date {
    text-align: right;
    position: relative;
    top: -20px;
    font-size: 16px;
    font-family: FuturaPTBook;
    color: #636363;
}

.carousel .slider-nav {
    padding: 10px 15px;
}

    .carousel .slider-nav .slick-list {
    }

    .carousel .slider-nav .item {
        cursor: pointer;
    }

.slider-nav, .slider-preview {
    padding: 10px 15px;
}

.slider-nav {
    margin-top: 10px;
}

    .slider-nav .item {
        height: 70px;
        background-color: #fff;
        margin: 2px;
        border: 1px solid #e6e6e6;
    }

        .slider-nav .item:focus {
            outline: none;
        }


    .slider-nav img {
        height: 100%;
        max-width: 70px;
        width: auto;
    }

.slider-single {
    height: 300px;
    background-color: white;
}

    .slider-single img {
        max-width: 400px;
        height: 300px;
        width: auto;
        margin: 0 auto;
    }

.slick-prev {
    top: 45px !important;
    display: block;
    z-index: 999;
    left: 3% !important;
    position: absolute;
}

button.slick-next {
    display: block;
    position: absolute;
    right: -6%;
    top: 45px;
    z-index: 999 !important;
}

.slick-next:before {
    color: transparent !important;
    opacity: 1 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/icons/arrow-right-grey.png') !important;
    right: 50% !important;
    position: relative;
}

.slick-prev:before {
    color: transparent !important;
    opacity: 1 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/icons/arrow-left-grey.png') !important;
    position: relative;
    right: 50% !important;
}

.slick-prev.slick-disabled:before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/icons/arrow-left-grey.png') !important;
}

.slick-next.slick-disabled:before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/img/icons/arrow-right-grey.png') !important;
}

.slick-slide img {
    width: 100%;
}

.new-product {
    background-color: #feabc9;
    width: 50px;
    text-align: center;
    position: absolute;
    z-index: 9;
    left: 15px;
    color: #fff;
    top: 15px;
    padding: 1px;
    font-size: 16px;
    font-family: FuturaPTBook;
}

.select-count {
    border-color: #636363;
    width: 75%;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #636363;
}

    .select-count:focus {
        border-color: #000000;
        box-shadow: none;
    }

.cart-container {
    width: 74%;
    margin-right: 1%;
}

    .cart-container .content .item-cart {
        margin: 5px 20px;
        padding: 10px;
        border-top: 1px solid #b0b0b0;
    }

        .cart-container .content .item-cart img {
            width: 100%;
        }

        .cart-container .content .item-cart .title-cart {
            font-size: 18px;
            font-family: FuturaPTMedium;
            color: #414141;
            padding: 25px 0px 5px 0px;
        }

        .cart-container .content .item-cart .description {
            font-size: 18px;
            font-family: FuturaPTMLight;
            color: #414141;
        }

    .cart-container .right-container-cart {
        padding: 25px 0 0 0 !important;
    }

.close-pink-btn {
    padding: 0 5px;
    min-width: unset;
    font-size: 23px;
    font-family: FuturaPTMedium;
}

.cart-container .title-container {
    font-size: 18px;
    font-family: FuturaPTDemi;
    color: #414141;
}

.select-count.cart-select {
    padding: 2px;
    width: 100%;
}

.cart-container .title-block {
    font-size: 21px;
}

.menu-cart {
    font-size: 16px;
    color: #636363;
    font-family: FuturaPTDemi;
}

    .menu-cart .title-menu-cart {
        text-align: center;
        font-size: 16px;
        color: #636363;
        font-family: FuturaPTDemi;
        padding: 5px 5px 10px 5px;
    }

    .menu-cart .details .title-menu-cart {
        font-family: FuturaPTMedium;
        font-size: 18px;
    }

    .menu-cart .description {
        font-family: FuturaPTBook;
    }

    .menu-cart .details {
        border-bottom: 1px solid #b0b0b0;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .menu-cart .cart-promo {
        text-align: center;
        margin: 25px 0;
    }

        .menu-cart .cart-promo div {
            margin: 10px 0;
        }

    .menu-cart .cart-footer {
        text-align: center;
        margin: 50px 0;
    }

        .menu-cart .cart-footer .btn-pink {
            font-size: 18px;
            width: 90%;
            text-transform: uppercase;
        }

    .menu-cart .description.pink-text {
        font-size: 18px;
        text-align: center;
        font-family: FuturaPTMedium;
        color: #ff669e;
    }

    .menu-cart.light {
        font-family: FuturaPTBook;
    }

        .menu-cart.light .title-menu-cart {
            font-family: FuturaPTBook;
            font-size: 18px;
        }

.empty-favorit {
    color: #636363;
    font-family: FuturaPTDemi;
    font-size: 25px;
    text-align: center;
}

    .empty-favorit span {
        position: relative;
        top: -45px;
        padding: 30px;
    }

.form-order {
    padding: 5px 50px 5px 70px;
}

    .form-order.cabinet {
        padding: 0 !important;
    }

    .form-order .item-form {
        font-size: 17px;
        font-family: FuturaPTBook;
        color: #232323;
    }

        .form-order .item-form .title-item-form {
            font-size: 17px;
            font-family: FuturaPTMedium;
            color: #232323;
            padding: 15px 5px;
        }

            .form-order .item-form .title-item-form.thanks-title {
                padding: 0;
            }

        .form-order .item-form label {
            font-size: 16px;
            font-family: FuturaPTBook;
            color: #636363;
            padding: 0 15px;
        }

        .form-order .item-form input {
            font-size: 16px;
            font-family: FuturaPTBook;
            color: #636363;
            padding: 0 15px;
            border-radius: 7px;
            border: 1px solid #d8d8d8;
        }

            .form-order .item-form input:focus {
                box-shadow: 0 0 4px 0px hsla(332, 50%, 49%, 0.45);
            }

        .form-order .item-form .address-form {
            padding: 0;
        }

.cabinet .item-form .form-group {
    margin-bottom: 0px;
}

.cabinet .datepicker-birth {
    padding: 0px 0px 0px 10px;
}

    .cabinet .datepicker-birth select {
        padding: 4px 0px;
        font-size: 16px;
        font-family: FuturaPTBook;
        color: #636363;
    }

        .cabinet .datepicker-birth select:focus {
            box-shadow: 0 0 4px 0px hsla(332, 50%, 49%, 0.45);
            outline: none;
            border: 1px solid #d8d8d8;
        }

.cabinet .footer.item-form {
    padding: 50px;
}

.cabinet .item-form .title {
    padding: 15px 5px;
}

.count-cart {
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #ff669e;
    border-radius: 15px;
    border: 2px solid #fff;
    top: 20px;
    right: 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-bottom: 0px;
    font-family: FuturaPTMeduim;
}

.dropdown-cart {
    display: none;
    position: absolute;
    background-color: #fff;
    left: -80px;
    top: 40px;
    z-index: 99999;
    width: 115%;
}

    .dropdown-cart::after {
        content: '';
        position: absolute;
        right: 21px;
        top: -10px;
        border: 5px solid transparent;
        border-bottom: 7px solid #fff;
        display: block;
    }

    .dropdown-cart .title {
        text-align: center;
        color: #636363;
        font-size: 16px;
        font-family: FuturaPTMeduim;
        border-bottom: 1px solid #cbcbcb;
        padding: 5px;
        margin: 0 2%;
        font-weight: 600;
        width: 95%;
    }

    .dropdown-cart .footer {
        padding: 25px 0;
    }

        .dropdown-cart .footer .info {
            color: #636363;
            font-size: 16px;
            font-family: FuturaPTBook;
            margin-left: 4%;
            width: 54%;
        }

        .dropdown-cart .footer .value {
            color: #636363;
            font-size: 16px;
            font-weight: bold;
            font-family: FuturaPTMeduim;
        }

        .dropdown-cart .footer .item-btn {
            width: 100%;
            margin: 5px 0;
        }

        .dropdown-cart .footer a:hover, .dropdown-cart .footer a:focus .dropdown-cart .footer a:active .dropdown-cart .footer a:visited {
            color: #fff;
        }

    .dropdown-cart .dropdown-item-cart {
        border-bottom: 1px solid #cbcbcb;
        padding: 10px 0px;
        margin: 10px 2%;
        width: 95%;
    }

        .dropdown-cart .dropdown-item-cart .img {
            padding: 0;
        }

        .dropdown-cart .dropdown-item-cart img {
            width: 100%;
        }

        .dropdown-cart .dropdown-item-cart .content {
            padding: 0;
        }

        .dropdown-cart .dropdown-item-cart .info {
            padding: 0;
        }

        .dropdown-cart .dropdown-item-cart .title-product {
            color: #414141;
            font-size: 15px;
            font-family: FuturaPTMeduim;
            font-weight: bold;
        }

#dropdown-cart-head {
    display: inline-block;
    /*height: 85px;*/
    /*width: 65px;*/
}

.history-orders {
    padding: 0;
}

    .history-orders .title {
        height: 40px;
        background-color: #fda5c4;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-family: FuturaPTDeimi;
        text-align: center;
        padding-top: 5px;
        box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,0.08);
    }

    .history-orders .content {
        height: 100px;
        padding: 40px 0;
        font-size: 18px;
        font-family: FuturaPTBook;
        color: #232323;
        border-bottom: 1px solid #dbdbdb;
        text-align: center;
    }

        .history-orders .content .col-md-2 {
            text-align: right;
        }

    .history-orders li.hover :hover {
        background-color: #f9f4f4;
    }

    .history-orders img {
        width: 80%;
    }

    .history-orders .content.detail {
        height: 100px;
    }

    .history-orders .content a {
        color: #232323;
    }


    .history-orders .content.detail .name {
        text-align: left;
    }

    .history-orders .content.detail .image {
        position: relative;
        top: -25px;
    }

.date-order {
    font-size: 17px;
    font-family: FuturaPTMeduim;
    color: #232323;
    font-weight: bold;
    padding: 25px 60px;
}

.history-amount {
    font-family: FuturaPTDeimi;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding: 10px 80px;
}

    .history-amount span {
        margin-left: 25px;
    }

.all-orders, .all-orders a {
    font-family: FuturaPTDeimi;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding: 45px 25px;
}
.plus,
.minus,
.counter {
    background-color: #ffaecb;
    height: 30px;
    border-radius: 2px;
    display: inline-block;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-family: 'FuturaPTDeimi';
    justify-content: center;
}

.counter {
    width: 64px;
    margin: 0 2px;
 
}

.plus,
.minus {
    width: 30px;
    cursor: pointer;
    font-family: 'PROXIMANOVA-SEMIBOLD';
}

    .plus:hover,
    .minus:hover {
        background-color: #ec7ba4;
    }
    .coupon-dropdown {
        width: 100% !important;
        margin: 15px 0 !important;
    }

/* Мобильное меню */

header.navbar {
    background-color: #fda6c5;
    box-shadow: inset 0 0 20px 2px rgba(0,0,0,.08);
    min-height: 40px;
    margin-bottom: 20px;
    border-radius: 0;
}

    header.navbar a.hight-menu {
        color: #636363 !important;
        font-size: 18px;
        font-family: FuturaPTBook;
        /*margin-top: -27px;*/
        cursor: pointer;
        padding-top: 7px;
        padding-bottom: 5px;
    }

        header.navbar a.hight-menu:hover, header.navbar li.open a {
            background-color: transparent;
        }

        header.navbar a.hight-menu:focus {
            color: #636363 !important;
            background-color: transparent !important;
        }

.head-auth + a.max-width {
    margin-right: 10px;
    margin-left: 10px;
}

header span.icon-bar {
    background-color: #fff;
}

@media(max-width: 768px) {
    .dropdown-menu-large::after {
        display: none;
    }

    .dropdown-large {
        text-align: center;
    }
    .navbar-collapse-number {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        font-family: FuturaPTDemi;
        padding: 12px 25px;
    }
    div.head-number {
        display: none !important;
    }
    .head {
        padding: 20px 0;
    }
    .count-cart {
        width: 15px;
        height: 15px;
        top: 24px;
        right: 10px;
        font-size: 8px;
    }
    .item .pull-right {
        padding-top: 10px;
    }
    .item .pull-right img {
        width: 25px;
    }
    .menu-search input {
        margin-top: 0;
        margin-bottom: 8px;
        width: 100%;
    }
    #dropdown-cart {
        display: none !important;
    }
}

@media(min-width: 768px) {
    .navbar-collapse-number {
        display: none;
    }
}

